* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-image: linear-gradient(to top, rgba(24, 24, 24, 0.532), rgba(0, 0, 0, 0.782)), url('space-background.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
    max-height: 100vh;
}

.spaceship {
    width: 9vw;
    position: absolute;
}

h1, p {
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
}
